variable "project_id" {
  description = "GCP project ID"
  type        = string
}

variable "region" {
  description = "GCP region"
  type        = string
}

variable "artifact_repo" {
  description = "Artifact Registry repository name"
  type        = string
}

variable "runtime_service_account" {
  description = "Email of the runtime service account"
  type        = string
}
