# Do not include azure-functions-worker as it may conflict with the Azure Functions platform

azure-functions
pandas
requests
numpy
bs4
azure-core
azure-storage-blob
azure-cosmosdb-table
bs4
python-dateutil