variable "project_id" {
  description = "GCP project ID"
  type        = string
}

variable "runtime_service_account" {
  description = "Email of the runtime service account"
  type        = string
}
